* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; //Libre Barcode 128
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.grabbing {
  cursor: grabbing;
}

.grabbing .slide img {
  transform: scale(0.9);
}
:root {
  --slider-width: calc((100vw - (100vw - 100%)));
}
